[Unit]
Description=TShock Terraria Server

[Service]
Type=forking
User=tshock
Group=tshock

Environment=WORLD=World1
Environment=PORT=7777
EnvironmentFile=/etc/default/tshock

ExecStart=/usr/bin/tmux new-session -d -s tshock-console -c /opt/tshock "/usr/bin/mono --server --gc=sgen -O=all TerrariaServer.exe -logpath /var/log/tshock -port $PORT -world /opt/tshock/Terraria/Worlds/$WORLD.wld"
ExecStop=/usr/bin/tshock stop $MAINPID
TimeoutStopSec=10s

[Install]
WantedBy=multi-user.target
