[Unit]
Description=The PHP 5.2 FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/php-fpm/php52-fpm.pid
PrivateTmp=true
ExecStart=/opt/php52/bin/php-cgi --fpm --fpm-config /etc/php52/php-fpm.conf
ExecReload=/usr/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
