[Unit]
Description=The PHP FastCGI Process Manager
After=syslog.target network.target

[Service]
Type=forking
PIDFile=/run/php53-fpm/php-fpm.pid
PrivateTmp=true
ExecStart=/opt/php53/bin/php-fpm --pid /run/php53-fpm/php-fpm.pid
ExecReload=/usr/bin/kill -USR2 $MAINPID

[Install]
WantedBy=multi-user.target
