[Unit]
Description=Gitlab Sidekiq
Wants=redis.service

[Service]
Type=forking
User=gitlab
PIDFile=/usr/lib/gitlab/www/tmp/pids/sidekiq.pid
WorkingDirectory=/usr/lib/gitlab/www
Environment=RAILS_ENV=production

ExecStart=/usr/bin/bundle exec rake sidekiq:start
ExecStop=/usr/bin/bundle exec rake sidekiq:stop

[Install]
WantedBy=multi-user.target
