[Unit]
Description=Shinken Reactionner
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/shinken-reactionner -c /etc/shinken/reactionnerd.ini

[Install]
WantedBy=multi-user.target
