[Unit]
Description=Shinken Scheduler 
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/shinken-scheduler -c /etc/shinken/schedulerd.ini

[Install]
WantedBy=multi-user.target
