[Unit]
Description=Shinken Poller
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/shinken-poller -c /etc/shinken/pollerd.ini

[Install]
WantedBy=multi-user.target
