[Unit]
Description=Shinken Arbiter
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/shinken-arbiter -c /etc/shinken/shinken.cfg

[Install]
WantedBy=multi-user.target
