[Unit]
Description=Shinken Receiver
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/shinken-receiver -c /etc/shinken/receiverd.ini

[Install]
WantedBy=multi-user.target
