[Unit]
Description=Shinken Broker
After=syslog.target

[Service]
Type=simple
ExecStart=/usr/bin/shinken-broker -c /etc/shinken/brokerd.ini

[Install]
WantedBy=multi-user.target
